<!DOCTYPE html>
<html lang="en">
<%- include("../layouts/pdf-template-head.ejs"); %>
<body>
<main class="centered">
    <h1>The order has been confirmed</h1>
    <ul>
        <% order.products.forEach(function(item) { %>
            <li>
                <%= item.product.title %> - <%= item.quantity %> - $<%= item.product.price %>
            </li>
        <% }); %>
    </ul>
</main>
</body>
</html>