# Core
NODE_URL=http://localhost:3000/
NODE_ENV=development
NODE_PORT=3000

# Security
NODE_DEFAULT_LOCALE=en
NODE_FALLBACK_LOCALE=en
NODE_STATIC_MAXAGE=86400
NODE_ENABLE_CLUSTERING=1

# Storage
NODE_PUBLIC_PATH=public

# Database connection
NODE_DB_DIALECT=mysql
NODE_DB_HOST=localhost
NODE_DB_PORT=3306
NODE_DB_NAME=boilerplate_mysql
NODE_DB_USER=root
NODE_DB_PASS=root
# Optional for tests/sqlite
NODE_DB_STORAGE=:memory:

# JWT Authentication
NODE_ACCESS_TOKEN_SECRET=your-access-token-secret-here
NODE_ACCESS_TOKEN_SECRET_TIME=600

NODE_REFRESH_TOKEN_SECRET=your-refresh-token-secret-here
NODE_REFRESH_TOKEN_SECRET_TIME_SHORT=604800
NODE_REFRESH_TOKEN_SECRET_TIME_MEDIUM=2592000
NODE_REFRESH_TOKEN_SECRET_TIME_LONG=31536000

NODE_TOKEN_CLEANUP_INTERVAL=3600000

# Email
NODE_SMTP_NAME=hostgator
NODE_SMTP_HOST=mail.guebbit.com
NODE_SMTP_PORT=465
NODE_SMTP_USER=noreply@guebbit.com
NODE_SMTP_SENDER="Guebbit" <noreply@guebbit.com>
NODE_SMTP_PASS=emailpassword
