<!DOCTYPE html>
<html lang="en">
<%- include("../_layouts/email-template-head.ejs"); %>
<body>
<main class="centered">
    <h1>Welcome aboard <%= name %>!</h1>
    <p>Registration successful</p>
</main>
<%- include("../_layouts/default-footer.ejs"); %>
</body>
</html>