<!DOCTYPE html>
<html lang="en">
<%- include("../_layouts/main-head.ejs"); %>
<body>
<%- include("../_layouts/default-header.ejs"); %>
<%- include("../_layouts/default-aside.ejs"); %>
<main>
    <h1>404 - Product Not Found!</h1>
</main>
<%- include("../_layouts/default-footer.ejs"); %>
</body>
</html>