<!DOCTYPE html>
<html lang="en">
<%- include("../layouts/main-head.ejs"); %>
<body>
<%- include("../layouts/default-header.ejs"); %>
<%- include("../layouts/default-aside.ejs"); %>
<main class="centered">
    <h1>HOME</h1>

    <div>
        <a class="btn" href="/reset-database">Reset Database</a>
        <a class="btn" href="/heavy">Test Heavy request</a>
    </div>
</main>
<%- include("../layouts/default-footer.ejs"); %>
</body>
</html>